nav {
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: relative;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.burger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
}

.line {
  background-color: #ffffff;
  height: 2px;
  transition: transform 0.2s ease-in-out;
  width: 25px;
}

.menu {
  background-color: #1a1a1a;
  display: none;
  list-style-type: none;
  position: absolute;
  top: 10px;
  left: -15px;
  width: 90px;
}

.menu{
  width: 500px;
}

.menu li {
  margin-bottom: 15px;
  width: 500px;
}

.menu li a {
  color: #ffffff;
  display: block;
  padding: 30px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.menu li a:hover {
  color: #ff6700;
}

