body{
    margin: 0px;
}

main{
    display: grid;
    background-color: white;
    justify-content: center;
}

.navigation{
    display: none;
}

.logomobil{
    font-style: italic;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
 }
    
.topnav {
    overflow: hidden;
    background-color: #00454F;
    position: relative;
}
      
.topnav #myLinks {
    display: none;
}
      
.topnav a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    margin: 20px;
}
      
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    font-size: 40px;
}
      
.topnav a:hover {
    color: #7293A0;
}

.burger{
    font-size: 20px;
    letter-spacing: 1px;
}

  /* galleri */ 
  * {box-sizing: border-box;}
  .mySlides {display: none;}
 
 .billedeAmalie {
   margin-top: 30px; 
   width: 100%;
   height: 300px;
 }

 .billedslide{
    position: relative;
 }

 .tekstblok{
    position: absolute;
    top: 260px;
    left: 80px;
    background-color:#F4F4F4;
    opacity: 75%;
    padding: 20px;
 }

  /* prikkerne under billedet */
  .prik {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:#E4F1F0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color:#7293A0;
  }

/* -- MAIN -- */
.kommende{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    color: #00454F;
    margin-left: 10px;
    margin-bottom: -1px;
    margin-top: 30px;
}

.boks{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    border: solid black;
    margin-top: 20px;
    margin-bottom: 30px;
}

.gridboks{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

.indenibokse{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    height: 180px;
    width: 450px;
    background-color: #7293A0;
    color: white;
    margin: 10px;
    font-family:'Montserrat', sans-serif;
}

.testbillede1{
    margin: 10px;
    justify-content: left;
    color: white;
    height: 160px;
    width: 215px;
}

.testbillede2{
    margin: 10px;
    justify-content: left;
    color: white;
    height: 160px;
    width: 215px;
}

.testbillede3{
    margin: 10px;
    justify-content: left;
    color: white;
    height: 160px;
    width: 215px;
}

.læsknap{
    background-color: #E4F1F0;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.læsknap a{
    text-decoration: none;
    color: black;
}

.mereknap{
    background-color: #E4F1F0;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
    left: 47px;
    bottom: 80px;
}

.mereknap a{
    text-decoration: none;
    color: black;
}

.arrangementerforside{
    padding: 10px;
}

.meretekst{
    font-size: 13px;
}

.arratekst{
    font-size: 20px;
    margin: 0px;
    margin-bottom: 5px;
}

.overskrifter{
    margin: 20px;
}

.arraoverblik{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    justify-content: center;
    margin: 50px;
}

.kasse{
    position: relative;
}

.arrangementoverskrift{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px black;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.arrangement{
    height: 240px;
    width: 290px;
    margin: 20px;
    opacity: 60%;
}

.overskrift1{
    margin: 20px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: #00454F;
}

.overskrifter{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: italic;
    color:#00454F;
    margin: 20px;
}


/* OPRET ARRANGEMENT */
.udenomboksopret{
    display: grid;
    background-color:#F4F4F4;
    height: auto;
    width: 100%;
}

.opretgrid{
    display: grid;
    grid-template-columns: auto;
    margin: 50px;
    margin-top: 10px;
}

 .overskriftopret{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: italic;
    color:#00454F;
    height: 50px;
    width: 100%;
    margin: 20px;
}

.opretindenigrid1{
    display: grid;
    
}

.opretindenigrid2{
    display: grid;
    height: 500px;
}

.opretindenigrid3{
    display: grid;
}

.arrangementinput{
    width: 89%;
    height: 30px;
    border: none;
    background-color:#00454f26; 
}

.indtastarrangement{
    grid-column: 1 / span 2;
    height: 30px;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
}

.indtastdato{
    height: 30px;
    width: 70%;
    background-color:#00454f26; 
    margin-left: 40px;
    margin-top: 40px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.indtasttidspunkt{
    height: 30px;
    width: 80%;
    padding: 5px;
    margin-top: 40px;
    background-color:#00454f26;  
    font-family: 'Montserrat', sans-serif;
}

.placeringinput{
    width: 96%;
    height: 30px;
    border: none;
    background-color:#00454f26;
}
.indtastplacering{
    grid-column: 1 / span 2;
    height: 30px;
    width: 83%; 
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.kategori{
    grid-column: 1 / span 2;
    height: 30px;
    width: 35%;
    padding: 5px;
    background-color:#00454f26; 
    margin-left: 40px;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

.beskrivelseinput{
    width: 88%;
    border: none;
    height: 300px;
    background-color:#00454f26;  
    font-family: 'Montserrat', sans-serif;
}

.indtastbeskrivelse{
    grid-column: 1 / span 2;
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.billede{
    height: 300px;
    width: 320px;
    background-color: white;
    margin-left: 40px;
    margin-top: 20px;
}
.billedeknap{
   height: 30px;
   width: 110px;
   padding: 5px;
   margin-bottom: 130px;
   margin-left: 40px;
   border-radius: 10px;
   background-color:#00454f26; 
   font-family: 'Montserrat', sans-serif;
}

.billedeknap:hover{
    background-color: #7293A0;
}

.opretknap{
    height: 50px;
    width: 250px;
    padding: 15px;
    padding-left: 30px;
    margin-bottom: 80px;
    margin-left: 40px;
    border-radius: 10px;
    background-color:#00454F;
    font-family:'Montserrat', sans-serif;
    font-style: italic;
    color: white;
    font-weight: 600;
}

.opretknap:hover{
    background-color: #7293A0;
}


/* LOG IND SIDE */

.form{
    display: grid;
    margin: 220px;
}

#UCLbrugernavn{
    display: grid;
    justify-content: center;
    height: 30px;
    width: 240px;
    border-radius: 20px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
}

#adgangskode{
    display: grid;
    justify-content: center;
    height: 30px;
    width: 240px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;

}

#logindknap{
    background-color: #E4F1F0;
    border: solid #00454F;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 20px;
}

.logindtekst{
    font-family: 'Montserrat', sans-serif;
    color: #00454F;
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logindovertekst{
    display: grid;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #00454F;
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
    font-style: italic;
}



/* -- KREAVÆRKSTED -- */
.breadcrum{
    margin-top: 40px;
}

.fa-arrow-left{
    color: #00454F;
    margin-left: -10px;
    font-size: 20px;
    padding: 12px;
}

.breadcrum a{
    color: #00454F;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
}

.breadcrum a:hover{
    font-weight:600;
}

.gridkrea{
    background-color: #F4F4F4;
    height: auto;
}

.kreaboks{
    display: grid;
    grid-template-columns: 50%;
    margin: 40px;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
}

.tekstiboks{
  margin: auto;
}

.overskrift{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: italic;
    color:#00454F;
}

.dato{
    color: #00454F;
    font-weight: 600;
}

.kreabillede{
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.tilmeldknap{
    background-color: #00454F;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 17px;    
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    width:300px;
    height: 50px;
    margin-left: 40px;
    margin-top: -20px;
    margin-bottom: 70px;
}

.tilmeldknap:hover{
    background-color: #7293A0;
}

/* -- MIN PROFIL -- */


.mingridboks{
    display: grid;
    justify-content: center;
}

.minindenibokse1{
    display: grid;
    justify-content: center;
    margin: 30px;
    background: url("billeder/kreavaerkstedlille.png");
    height: 200px;
    width: 400px;
}

.minindenibokse2{
    display: grid;
    justify-content: center;
    margin: 30px;
    height: 200px;
    width: 400px;
    background-color: #eaeaea;
}

.minindenibokse3{
    display: grid;
    justify-content: center;
    margin: 30px;
    height: 200px;
    width: 400px;
    background-color: #eaeaea;
}

.tilmeldtearrangementer{
    height: 180px;
    width: 360px;
    background-color: white;
    opacity: 70%;
    border-radius: 30px;
    margin: 10px;
}

/* -- FOOTER -- */

.footerboks{
    display: grid;
    width: 100%;
    background-color: #00454F;
    color: white;
}

#footertekst{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   padding: 20px;
   text-align: center;
   margin: 0px;
}

i{
    font-size: 30px;
    padding: 20px;
    text-align: center;
    color: white;
}


/* TABLETVERSION */
@media only screen and (min-width: 600px){
    .billedeAmalie{
        width: 600px;
        height: 350px;
    }

    .kommende{
        font-size: 28px;
        margin-left: 75px;
    }

    .arraoverblik{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin: 50px;
    }
    
    .overskrifter{
        grid-column: 1 / span 2;
    }

    .kreaboks{
        grid-template-columns: 50% 50%;
    }

    .kreabillede{
        margin: 20px;
    }

    .tilmeldknap{
        margin-left: 380px;
    }
   
    .overskriftopret{
    height: 50px;
    width: 100%;
    margin: 30px;
    }

    /* OPRET ARRANGEMENT */
    .udenomboksopret{
        display: grid;
        height: auto;
        width: 600px;
    }

    .opretgrid{
        display: grid;
        grid-template-columns: auto;
        margin: 50px;
        margin-top: 10px;
    }

    .overskriftopret{
        height: 50px;
        width: 100%;
        margin-left: 50px;
    }

    .opretindenigrid1{
        display: grid;
    
    }

    .opretindenigrid2{
        display: grid;
        height: 500px;
    }

    .opretindenigrid3{
        display: grid;
    }

    .arrangementinput{
        width: 89%;
        height: 30px;
    }

    .indtastarrangement{
        grid-column: 1 / span 2;
        height: 30px;
        margin-left: 50px;
    }

    .indtastdato{
        height: 30px;
        width: 70%; 
        margin-left: 50px;
        margin-top: 40px;
        padding: 5px;
    }

    .indtasttidspunkt{
        height: 30px;
        width: 80%;
        padding: 5px;
        margin-top: 40px;
    }

    .placeringinput{
        width: 96%;
        height: 30px;
    }
    .indtastplacering{
        grid-column: 1 / span 2;
        height: 30px;
        width: 85%; 
        margin-left: 50px;
        margin-top: 20px;
    }

    .kategori{
        grid-column: 1 / span 2;
        height: 30px;
        width: 35%;
        padding: 5px;
        margin-left: 50px;
        margin-top: 40px;
    }

    .beskrivelseinput{
        width: 88%;
        height: 300px;
    }

    .indtastbeskrivelse{
        grid-column: 1 / span 2;
        margin-left: 50px;
        margin-top: 20px;
    }

    .billede{
        height: 300px;
        width: 483px;
        margin-left: 50px;
        margin-top: 20px;
    }
    .billedeknap{
        height: 30px;
        width: 110px;
        padding: 5px;
        margin-bottom: 130px;
        margin-left: 50px;
    }

    .opretknap{
        height: 50px;
        width: 250px;
        padding: 15px;
        padding-left: 30px;
        margin-bottom: 80px;
        margin-left: 50px;    
}

/* LAPTOPVERSION */
@media only screen and (min-width: 1000px) {
    .navigation{
        display: grid;
        background-color: #00454F;
        width: 100%;
    }

    .menubar{
        display: grid;
        grid-template-columns: 600px auto auto auto auto;
    }

    .menugrid{
        text-align: right;
        margin-top: 40px;
    }

    .menuknap{
        color: white;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }

    ul{
        list-style: none;
        margin: 0px;
        text-align: left;
    }

    ul.menubar{
        padding: 15px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .menuknap:hover {
        color: #7293A0;
      }

    .logo{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-style: italic;
        font-size: 25px;
    }

    .topnav {
        display: none;
      }

    .billedeAmalie{
        width: 900px;
        height: 500px;
        margin-left: 17px;
    }  

    .kommende{
        font-size: 40px;
        margin-left: 20px;
    }  

    .indenibokse{
        height: 300px;
        width: 900px;
        margin: 20px;
    }

    .testbillede1{
        height: 280px;
        width: 430px;
    }

    .testbillede2{
        height: 280px;
        width: 430px;
    }

    .testbillede3{
        height: 280px;
        width: 430px;
    }

    .meretekst{
        font-size: 10px;
    }

    .arratekst{
        font-size: 30px;
    }    

    .læsknap{
        margin-top: 30px;
    }

    .læsknap{
        width: 120px;
        height: 30px;
    }

    .arraoverblik{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        margin: 50px;
    }
    
    .overskrifter{
        grid-column: 1 / span 4;
    }

    .overskriftopret{
        grid-column: 1 / span 2;
    }

    .opretindenigrid1{
        grid-row: 2 /span 2;
    }

    .udenomboksopret{
        grid-template-columns: auto auto;
    }

    .gridkrea{
        width: 1000px;
        height: auto;
    }

    .tekstiboks{
        margin-top: -1px;
        margin-left: 35px
    }

    .kreaboks{
        margin-top: 55px;
    }

   .kreabillede{
    width: 500px;
    height: 400px;
    margin-left: -80px;
   }

   .tilmeldknap{
    margin-left: 535px;
   }

   /* OPRET ARRANGEMENT */
   .udenomboksopret{
    display: grid;
    height: auto;
    width: 1200px;
}

.opretgrid{
    display: grid;
    grid-template-columns: auto;
    margin: 50px;
    margin-top: 10px;
}

.overskriftopret{
    height: 50px;
    width: 100%;
    margin-left: 50px;
}

.opretindenigrid1{
    display: grid;

}

.opretindenigrid2{
    display: grid;
    height: 500px;
}

.opretindenigrid3{
    display: grid;
}

.arrangementinput{
    width: 89%;
    height: 30px;
}

.indtastarrangement{
    grid-column: 1 / span 2;
    height: 30px;
    margin-left: 50px;
}

.indtastdato{
    height: 30px;
    width: 70%; 
    margin-left: 50px;
    margin-top: 10px;
    padding: 5px;
}

.indtasttidspunkt{
    height: 30px;
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}

.placeringinput{
    width: 96%;
    height: 30px;
}

.indtastplacering{
    grid-column: 1 / span 2;
    height: 30px;
    width: 82%; 
    margin-left: 50px; 
    margin-top: 10px;
}

.kategori{
    grid-column: 1 / span 2;
    height: 30px;
    width: 35%;
    padding: 5px;
    margin-left: 50px;
    margin-top: 10px;
}

.beskrivelseinput{
    width: 88%;
    height: 300px;
    margin-bottom: 40px;
}

.indtastbeskrivelse{
    grid-column: 1 / span 2;
    margin-left: 50px;
}

.billede{
    height: 300px;
    width: 483px;
    margin-left: 50px;
    margin-top: 17px;
}
.billedeknap{
    height: 30px;
    width: 110px;
    padding: 5px;
    margin-bottom: 130px;
    margin-left: 50px;
}

.opretknap{
    height: 50px;
    width: 250px;
    padding: 15px;
    padding-left: 30px;
    margin-bottom: 60px;
    margin-left: 50px; 
}
}