body{
    margin: 0px;
}

main{
    display: grid;
    background-color: white;
    justify-content: center;
}

.navigation{
    display: none;
}

.logomobil{
    font-style: italic;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
 }
    
.topnav {
    overflow: hidden;
    background-color: #00454F;
    position: relative;
}
      
.topnav #burgermenu {
    display: none;
}
      
.topnav a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    margin: 20px;
}
      
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    font-size: 40px;
}
      
.topnav a:hover {
    color: #7293A0;
}

.burger{
    font-size: 20px;
    letter-spacing: 1px;
}

  /* galleri */ 
  * {box-sizing: border-box;}
  .mySlides {display: none;}
 
 .billedeAmalie {
   margin-top: 30px; 
   width: 100%;
   height: 300px;
   margin-bottom: -150px;
 }

 .billedslide{
    position: relative;
 }

 .tekstblok{
    position: relative;
    width: fit-content;
    bottom: 20px;
    left: 20px;
    background-color:#F4F4F4;
    opacity: 75%;
    padding: 20px;
    font-family: 'Montserrat', sans-serif; 
 }

 .iblok{
    color: #00454F;
    font-size: 20px;
 }

 .blok{
    font-weight: 400;
    margin-top: -22px;
 }

 .fader{
    animation-name: fader;
    animation-duration: 1.5s;
 }

 @keyframes fader{
    from{opacity: .4;}
    to{opacity: 1;}
 }

  /* prikkerne under billedet */
  .prik {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:#E4F1F0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color:#7293A0;
  }

/* -- MAIN -- */
.kommende{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    color: #00454F;
    margin-left: 10px;
    margin-bottom: -1px;
    margin-top: 30px;
}

.boks{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    border: solid black;
    margin-top: 20px;
    margin-bottom: 30px;
}

.gridboks{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

.indenibokse{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    height: 180px;
    width: 450px;
    background-color: #7293A0;
    color: white;
    margin: 10px;
    font-family:'Montserrat', sans-serif;
}

.testbillede1{
    margin: 10px;
    justify-content: left;
    color: white;
    height: 160px;
    width: 215px;
}

.testbillede2{
    margin: 10px;
    justify-content: left;
    color: white;
    height: 160px;
    width: 215px;
}

.testbillede3{
    margin: 10px;
    justify-content: left;
    color: white;
    height: 160px;
    width: 215px;
}

.læsknap{
    background-color: #E4F1F0;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 500;
    color: #0f0f0f;
    padding: 7px;
    padding-left: 12px;
}

.læsknap a{
    text-decoration: none;
    color: black;
}

.læsknap:hover{
    background-color: #00454F;
    color: #ffffff;
}

.læsknap a:hover{
    color: #ffffff;
}

.mereknap{
    background-color: #E4F1F0;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 500;
    position: relative;
    left: 47px;
    bottom: 80px;
    padding: 7px;
    padding-left: 12px;
}

.mereknap a{
    text-decoration: none;
    color: black;
}

.mereknap:hover{
    background-color: #00454F;
    color: #ffffff;
}

.mereknap a:hover{
    color: #ffffff;
}

.arrangementerforside{
    padding: 10px;
}

.meretekst{
    font-size: 13px;
}

.arratekst{
    font-size: 20px;
    margin: 0px;
    margin-bottom: 5px;
}

.overskrifter{
    margin: 20px;
}

.arraoverblik{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    justify-content: center;
    margin: 50px;
}

.kasse{
    position: relative;
}

.arrangementoverskrift{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px black;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.arrangement{
    height: 240px;
    width: 290px;
    margin: 20px;
    opacity: 60%;
}

.overskrift1{
    margin: 20px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: #00454F;
}

.overskrifter{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: italic;
    color:#00454F;
    margin: 20px;
}


/* OPRET ARRANGEMENT */
.udenomboksopret{
    display: grid;
    background-color:#F4F4F4;
    height: auto;
    width: 100%;
}

.opretgrid{
    display: grid;
    grid-template-columns: auto;
    margin: 50px;
    margin-top: 10px;
}

 .overskriftopret{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: italic;
    color:#00454F;
    height: 50px;
    width: 100%;
    margin: 20px;
}

.opretindenigrid1{
    display: grid;
    
}

.opretindenigrid2{
    display: grid;
    height: 500px;
}

.opretindenigrid3{
    display: grid;
}

.arrangementinput{
    width: 89%;
    height: 30px;
    border: none;
    background-color:#00454f26; 
}

.indtastarrangement{
    grid-column: 1 / span 2;
    height: 30px;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
}


.dropdato{
    height: 30px;
    width: 70%;
    margin-left: 40px;
    margin-top: 30px;
}

.kalender{
    background-color:#00454f26;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 30px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.kalender:hover{
    background-color: #7293A0;
}
  
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .help {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 128px;
    margin-left: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .help a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .help a:hover {background-color: #ddd;}
  
  .show {display:block;}

.droptidspunkt:hover{
    background-color: #7293A0;
    }

.droptidspunkt{
    height: 30px;
    width: 82%;
    padding: 5px;
    margin-top: 30px;
    margin-right: 80px;
    border: none;
    background-color:#00454f26;  
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}
  
.help2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .help2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.help2 a:hover {
    background-color: #ddd;
}
  
.show {display:block;}

.placeringinput{
    width: 96%;
    height: 30px;
    border: none;
    background-color:#00454f26;
}
.indtastplacering{
    grid-column: 1 / span 2;
    height: 30px;
    width: 83%; 
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.dropkategori:hover{
    background-color: #7293A0;
}

.dropkategori{
    grid-column: 1 / span 2;
    height: 30px;
    width: 70%;
    padding: 5px;
    background-color:#00454f26; 
    border: none;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.dropdown3 {
    position: relative;
    display: inline-block;
}
  
  .help3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 127px;
    margin-left: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.help3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.help3 a:hover {
    background-color: #ddd;
}
  
.show {display:block;}

.beskrivelseinput{
    width: 88%;
    border: none;
    height: 300px;
    background-color:#00454f26;  
    font-family: 'Montserrat', sans-serif;
}

.indtastbeskrivelse{
    grid-column: 1 / span 2;
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.billede{
    height: 300px;
    width: 320px;
    background-color: white;
    margin-left: 40px;
    margin-top: 20px;
}

.billedeknap{
   height: 30px;
   width: 110px;
   padding: 5px;
   margin-bottom: 130px;
   margin-left: 40px;
   border-radius: 10px;
   background-color:#00454f26; 
   font-family: 'Montserrat', sans-serif;
   cursor: pointer;
}

.billedeknap:hover{
    background-color: #7293A0;
}

.opretknap{
    height: 50px;
    width: 250px;
    padding: 15px;
    padding-left: 30px;
    margin-bottom: 80px;
    margin-left: 40px;
    border-radius: 10px;
    background-color:#00454F;
    font-family:'Montserrat', sans-serif;
    font-style: italic;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.opretknap:hover{
    background-color: #7293A0;
}


/* LOG IND SIDE */

.form{
    width: 300px;
}

.login-whitespace{
    margin: 140px;
}

.logindNavne{
    display: inline-block;
    border: solid 1px rgba(141,141,141,0.5);
    width: 100%;
    height: 1.75rem;
    color: #0f0f0f;
    padding: 1.5rem 0.75rem;
    border-radius: 10px;
}

#brugernavn{
    width: 300px;
}

label{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

.login-card{
    padding: 0.75rem 1rem;
}

#logind-knap{
    background-color: #E4F1F0;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.login-card-buttons{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forkert{
    font-size: 1rem;
    font-weight: 500;
    color:#d20200;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}


/* -- KREAVÆRKSTED -- */
.breadcrum{
    margin-top: 40px;
}

.fa-arrow-left{
    color: #00454F;
    margin-left: -10px;
    font-size: 20px;
    padding: 12px;
}

.breadcrum a{
    color: #00454F;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
}

.breadcrum a:hover{
    font-weight:600;
}

.gridkrea{
    background-color: #F4F4F4;
    height: auto;
}

.kreaboks{
    display: grid;
    grid-template-columns: 50%;
    margin: 40px;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
}

.tekstiboks{
  margin: auto;
  width: 300px;
}

.overskrift{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: italic;
    color:#00454F;
}

.dato{
    color: #00454F;
    font-weight: 600;
}

.kreabillede{
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.tilmeldknap{
    background-color: #00454F;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 17px;    
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    width:300px;
    height: 50px;
    margin-left: 40px;
    margin-top: -20px;
    margin-bottom: 80px;
}

.tilmeldknap:hover{
    background-color: #7293A0;
}

/* -- MIN PROFIL -- */

.overskriftminprofil{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: italic;
    color:#00454F;
    margin-left: 20px;
    margin-bottom: none;
    margin-top: 50px;
}

.mingridboks1{
    display: grid;
    justify-content: center;
    margin: 20px;
}

.minindenibokse1{
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    margin: none;
    background: url("billeder/kreavaerkstedlille.png");
    height: auto;
    width: 400px;
}

.minindenibokse2{
    display: grid;
    justify-content: center;
    background: url("billeder/fest.jpeg");
    height: auto;
    width: 400px;
}

.tilmeldtearrangementer{
    display: grid;
    justify-content: center;
    height: auto;
    width: 360px;
    background-color: white;
    opacity: 80%;
    border-radius: 30px;
    margin: 20px;
}

.overskrifttilmeldt{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 35px;
    color:#00454F;
    margin-bottom: -5px;
}


.datominprofil{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 35px;
    margin-bottom: none;
}


.tidminprofil{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: smaller;
    margin-left: 35px;
    margin-bottom: none;
    margin-top: -5px;
}



#ur1{
    display: grid;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 500;
}

#ur2{
    display: grid;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 500;
}


.boksrundtomcountdown{
    height: 150px;
    width: 400px;
    background-color: #00454F; 
    border-radius: 20px;
    margin: 30px;
}


.boksrundtomcountdown1{
        height: 150px;
        width: 400px;
        background-color: #00454F; 
        border-radius: 20px;
        margin: 30px;
}

.countdowntekst{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 20px;
    color: rgb(7, 7, 7);
}

.starter{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 20px;
    color: white;
    font-size: 25px;
}

.læsmereknap{
    background-color: #E4F1F0;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 50px;
    position: absolute; 
    left: 950px;
    top: 543px;
}

.hokuspokus{
    background-color: #E4F1F0;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 50px;
    position: relative; 
    left: 10px;
    top: 10px;
}

.læsmereknap a{
    text-decoration: none;
    color: black;
}

.læsmereknap:hover{
    background-color: #00454F;
    color: #ffffff;
}

.læsmereknap a:hover{
    color: #ffffff;
}

/* -- FOOTER -- */

.footerboks{
    display: grid;
    width: 100%;
    background-color: #00454F;
    color: white;
}

#footertekst{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   padding: 20px;
   text-align: center;
   margin: 0px;
}

.fa-brands{
    margin-left: 10px;
    font-size: 30px;
    padding-top: 15px;
    text-align: center;
}

/* TABLETVERSION */
@media only screen and (min-width: 600px){
    .billedeAmalie{
        width: 600px;
        height: 350px;
    }

    .kommende{
        font-size: 28px;
        margin-left: 75px;
    }

    .arraoverblik{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin: 50px;
    }
    
    .overskrifter{
        grid-column: 1 / span 2;
    }

    .tekstiboks{
        width: 600px;
    }

    .kreabillede{
        width: 600px;
        height: 300px;
    }

    .tilmeldknap{
        margin-left: 200px;
    }
   
    .overskriftopret{
    height: 50px;
    width: 100%;
    margin: 30px;
    }

    /* OPRET ARRANGEMENT */
    .udenomboksopret{
        display: grid;
        height: auto;
        width: 600px;
    }

    .opretgrid{
        display: grid;
        grid-template-columns: auto;
        margin: 50px;
        margin-top: 10px;
    }

    .overskriftopret{
        height: 50px;
        width: 100%;
        margin-left: 50px;
    }

    .opretindenigrid1{
        display: grid;
    
    }

    .opretindenigrid2{
        display: grid;
        height: 500px;
    }

    .opretindenigrid3{
        display: grid;
    }

    .arrangementinput{
        width: 89%;
        height: 30px;
    }

    .indtastarrangement{
        grid-column: 1 / span 2;
        height: 30px;
        margin-left: 50px;
    }

    .dropdato{
        height: 30px;
        width: 74%; 
        margin-left: 46px;
        margin-top: 26px;
        padding: 5px;
    }
    
    .kalender{
        width: 100%;
        height: 30px;

    }

    .droptidspunkt{
        height: 30px;
        width: 80%;
        padding: 5px;
        margin-top: 30px;
    }

    .help2 {
        min-width: 248px;
    }

    .placeringinput{
        width: 96%;
        height: 30px;
    }

    .indtastplacering{
        grid-column: 1 / span 2;
        height: 30px;
        width: 85%; 
        margin-left: 50px;
        margin-top: 20px;
    }

    .dropkategori{
        grid-column: 1 / span 2;
        height: 30px;
        width: 70%;
        padding: 5px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .help3 {
        min-width: 203px;
        margin-left: 50px;
      }

    .beskrivelseinput{
        width: 88%;
        height: 300px;
    }

    .indtastbeskrivelse{
        grid-column: 1 / span 2;
        margin-left: 50px;
        margin-top: 20px;
    }

    .billede{
        height: 300px;
        width: 483px;
        margin-left: 50px;
        margin-top: 20px;
    }
    .billedeknap{
        height: 30px;
        width: 110px;
        padding: 5px;
        margin-bottom: 130px;
        margin-left: 50px;
    }

    .opretknap{
        height: 50px;
        width: 250px;
        padding: 15px;
        padding-left: 30px;
        margin-bottom: 80px;
        margin-left: 50px;    
}

/* LAPTOPVERSION */
@media only screen and (min-width: 1000px) {
    .navigation{
        display: grid;
        background-color: #00454F;
        width: 100%;
    }

    .menubar{
        display: grid;
        grid-template-columns: 500px auto auto auto auto auto;
    }

    .menugrid{
        text-align: right;
        margin-top: 40px;
    }

    .menuknap{
        color: white;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }

    ul{
        list-style: none;
        margin: 0px;
        text-align: left;
    }

    ul.menubar{
        padding: 15px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .menuknap:hover {
        color: #7293A0;
      }

    .logo{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-style: italic;
        font-size: 25px;
    }

    .topnav {
        display: none;
      }

    .billedeAmalie{
        width: 900px;
        height: 500px;
        margin-left: 17px;
    }  

    .tekstblok{
        left: 35px;
    }

    .kommende{
        font-size: 40px;
        margin-left: 20px;
    }  

    .indenibokse{
        height: 300px;
        width: 900px;
        margin: 20px;
    }

    .testbillede1{
        height: 280px;
        width: 430px;
    }

    .testbillede2{
        height: 280px;
        width: 430px;
    }

    .testbillede3{
        height: 280px;
        width: 430px;
    }

    .meretekst{
        font-size: 10px;
    }

    .arratekst{
        font-size: 30px;
    }    

    .læsknap{
        margin-top: 30px;
    }

    .læsknap{
        width: 120px;
        height: 30px;
        padding-left: 22px 
    }

    .arraoverblik{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        margin: 50px;
    }
    
    .overskrifter{
        grid-column: 1 / span 4;
    }

    .overskriftopret{
        grid-column: 1 / span 2;
    }

    .opretindenigrid1{
        grid-row: 2 /span 2;
    }

    .udenomboksopret{
        grid-template-columns: auto auto;
    }

    .gridkrea{
        width: 1000px;
        height: auto;
    }

    .tekstiboks{
        margin-top: -1px;
        margin-left: 15px;
        width: 470px;
    }

    .kreaboks{
        grid-template-columns: 50% 50%;
    }

    .kreaboks{
        margin-top: 55px;
    }

   .kreabillede{
    width: 400px;
    height: 400px;
    margin-top: 25px;
    margin-left: 40px;
   }

   .tilmeldknap{
    margin-left: 595px;
   }

/* OPRET ARRANGEMENT */
.udenomboksopret{
    display: grid;
    height: auto;
    width: 1200px;
}

.opretgrid{
    display: grid;
    grid-template-columns: auto;
    margin: 50px;
    margin-top: 10px;
}

.overskriftopret{
    height: 50px;
    width: 100%;
    margin-left: 50px;
}

.opretindenigrid1{
    display: grid;

}

.opretindenigrid2{
    display: grid;
    height: 500px;
}

.opretindenigrid3{
    display: grid;
}

.arrangementinput{
    width: 87%;
    height: 30px;
}

.indtastarrangement{
    grid-column: 1 / span 2;
    height: 30px;
    margin-left: 50px;
}

.dropdato{
    height: 30px;
    width: 70%; 
    margin-left: 46px;
    margin-top: 15px;
    padding: 5px;
}

.kalender{
    width: 100%;
    height: 30px;

}

.droptidspunkt{
    height: 30px;
    width: 78%;
    padding: 5px;
    margin-top: 20px;
}

.help2 {
    min-width: 218px;
  }

.placeringinput{
    width: 96%;
    height: 30px;
}

.indtastplacering{
    grid-column: 1 / span 2;
    height: 30px;
    width: 82%; 
    margin-left: 50px; 
    margin-top: 10px;
}

.dropkategori{
    grid-column: 1 / span 2;
    height: 30px;
    width: 70%;
    padding: 5px;
    margin-left: 50px;
    margin-top: 20px;
}

.help3 {
    min-width: 180px;
    margin-left: 50px;
  }

.beskrivelseinput{
    width: 88%;
    height: 300px;
    margin-bottom: 40px;
}

.indtastbeskrivelse{
    grid-column: 1 / span 2;
    margin-left: 50px;
}

.billede{
    height: 300px;
    width: 483px;
    margin-left: 50px;
    margin-top: 17px;
}

.billedeknap{
    height: 30px;
    width: 110px;
    padding: 5px;
    margin-bottom: 130px;
    margin-left: 50px;
}

.opretknap{
    height: 50px;
    width: 250px;
    padding: 15px;
    padding-left: 30px;
    margin-bottom: 60px;
    margin-left: 50px; 
}

/* MIN PROFIL */


.minindenibokse1{
    height: auto;
    width: 900px;
}

.minindenibokse2{
    height: auto;
    width: 900px;
}

.tilmeldtearrangementer{
    height: 400px;
    width: 850px;
}


.overskrifttilmeldt{
    grid-column: 1 / span 2;
}

.datominprofil{
    grid-column: 1 / span 2;
}

.tidminprofil{
    grid-row: 3;
    grid-column: 1;
}

.countdown{
    grid-row: 3/ span 2;
    grid-column: 3;
}


.læsmereknap{
    grid-column: 1;
    top: 630px;
    left: 837px;
}

.hokuspokus{
    top: -37px;
    left: 427px;
}


}

}