body{
    margin: 0px;
}

.navigation{
    display: none;
}

.logomobil{
    font-style: italic;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
 }
    
.topnav {
    overflow: hidden;
    background-color: #00454F;
    position: relative;
}
      
.topnav #myLinks {
    display: none;
}
      
.topnav a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    margin: 20px;
}
      
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    font-size: 40px;
}
      
.topnav a:hover {
    color: #7293A0;
}

.burger{
    font-size: 20px;
    letter-spacing: 1px;
}

/* -- MAIN -- */

.boks{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.gridboks{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

.indenibokse{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    height: 300px;
    width: 900px;
    background-color: #7293A0;
    color: white;
    margin: 20px;
    font-family:'Montserrat', sans-serif;
}

.testbillede{
    height: 280px;
    width: 430px;
    margin: 10px;
    justify-content: left;
    background-color: white;
    color: black;
}

.mereknap{
    background-color: #E4F1F0;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 30px;  
}

/* -- FOOTER -- */

.footerboks{
    display: grid;
    width: 100%;
    background-color: #00454F;
    color: white;
}

#footertekst{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   padding: 20px;
   text-align: center;
   margin: 0px;
}

i{
    font-size: 30px;
    padding: 20px;
    text-align: center;
    color: white;
}



@media only screen and (min-width: 1000px) {
    .navigation{
        display: grid;
        background-color: #00454F;
        width: 100%;
    }

    .menubar{
        display: grid;
        grid-template-columns: 600px auto auto auto auto;
    }

    .menugrid{
        text-align: right;
    }

    .menuknap{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 20px;
        margin-top: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    ul{
        list-style: none;
        margin: 0px;
        text-align: left;
    }

    ul.menubar{
        padding: 15px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .menuknap:hover {
        color: #7293A0;
      }

    .logo{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-style: italic;
        font-size: 25px;
    }

    .topnav {
        display: none;
      }

    }
