body{
    margin: 0px;
}

main{
    display: grid;
    background-color: white;
    justify-content: center;
}

.navigation{
    display: none;
}

.logomobil{
    font-style: italic;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
 }
    
.topnav {
    overflow: hidden;
    background-color: #00454F;
    position: relative;
}
      
.topnav #myLinks {
    display: none;
}
      
.topnav a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    margin: 20px;
}
      
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    font-size: 40px;
}
      
.topnav a:hover {
    color: #7293A0;
}

.burger{
    font-size: 20px;
    letter-spacing: 1px;
}

/* -- MAIN -- */

.boks{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    border: solid black;
    margin-top: 20px;
    margin-bottom: 30px;
}

.gridboks{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

.indenibokse{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    height: 180px;
    width: 450px;
    background-color: #7293A0;
    color: white;
    margin: 10px;
    font-family:'Montserrat', sans-serif;
}

.testbillede1{
    margin: 10px;
    justify-content: left;
    color: white;
    height: 160px;
    width: 215px;
}

.testbillede2{
    margin: 10px;
    justify-content: left;
    color: white;
    height: 160px;
    width: 215px;
}

.testbillede3{
    margin: 10px;
    justify-content: left;
    color: white;
    height: 160px;
    width: 215px;
}

.mereknap{
    background-color: #E4F1F0;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.arrangementerforside{
    padding: 10px;
}

.meretekst{
    font-size: 13px;
}

.arratekst{
    font-size: 20px;
    margin: 0px;
    margin-bottom: 5px;
}

.overskrifter{
    margin: 20px;
}

.arraoverblik{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    justify-content: center;
    margin: 50px;
}

.arrangement{
    height: 240px;
    width: 250px;
    background-color:#eaeaea;
    margin: 20px;
    padding: 20px;
}

.arrangementoverskrift{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.overskrift1{
    margin: 20px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: #00454F;
}

.overskrifter{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: italic;
    color:#00454F;
    margin: 20px;
}

.udenomboksopret{
    display: grid;
    background-color:#F4F4F4;
    height: auto;
    width: 1200px;
}

.opretgrid{
    display: grid;
    grid-template-columns: auto;
    margin: 50px;
    margin-top: 10px;
}

.overskriftopret{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: italic;
    color:#00454F;
    height: 50px;
    width: 100%;
    margin: 30px;
}

.opretindenigrid1{
    display: grid;
    grid-template-columns: auto auto;
}

.opretindenigrid2{
    display: grid;
    height: 500px;
}

.opretindenigrid3{
    display: grid;
}

/* LOG IND SIDE */

.form{
    display: grid;
    margin: 220px;
}

#UCLbrugernavn{
    display: grid;
    justify-content: center;
    height: 30px;
    width: 240px;
    border-radius: 20px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
}

#adgangskode{
    display: grid;
    justify-content: center;
    height: 30px;
    width: 240px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;

}

#logindknap{
    background-color: #E4F1F0;
    border: solid #00454F;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 20px;
}

.logindtekst{
    font-family: 'Montserrat', sans-serif;
    color: #00454F;
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logindovertekst{
    display: grid;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #00454F;
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
    font-style: italic;
}



/* -- KREAVÆRKSTED -- */

.breadcrum{
    color: #00454F;
    text-decoration-style: none; 
}

.kreaboks{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    background-color: #F4F4F4;
    height: 600px;
    width: auto;
    margin: 30px;
    font-family:'Montserrat', sans-serif;
}

.tekstiboks{
 
}

.kreabillede{
    height: 200px;
    width: 300px;
}




/* -- FOOTER -- */

.footerboks{
    display: grid;
    width: 100%;
    background-color: #00454F;
    color: white;
}

#footertekst{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   padding: 20px;
   text-align: center;
   margin: 0px;
}

i{
    font-size: 30px;
    padding: 20px;
    text-align: center;
    color: white;
}



/* TABLETVERSION */
@media only screen and (min-width: 600px){
    .arraoverblik{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin: 50px;
    }
    .overskrifter{
        grid-column: 1 / span 2;
    }
}

/* LAPTOPVERSION */
@media only screen and (min-width: 1000px) {
    .navigation{
        display: grid;
        background-color: #00454F;
        width: 100%;
    }

    .menubar{
        display: grid;
        grid-template-columns: 600px auto auto auto auto;
    }

    .menugrid{
        text-align: right;
        margin-top: 40px;
    }

    .menuknap{
        color: white;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-decoration: none;
    }

    ul{
        list-style: none;
        margin: 0px;
        text-align: left;
    }

    ul.menubar{
        padding: 15px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .menuknap:hover {
        color: #7293A0;
      }

    .logo{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-style: italic;
        font-size: 25px;
    }

    .topnav {
        display: none;
      }

    .indenibokse{
        height: 300px;
        width: 900px;
        margin: 20px;
    }

    .testbillede1{
        height: 280px;
        width: 430px;
    }

    .testbillede2{
        height: 280px;
        width: 430px;
    }

    .testbillede3{
        height: 280px;
        width: 430px;
    }

    .meretekst{
        font-size: 10px;
    }

    .arratekst{
        font-size: 30px;
    }    

    .mereknap{
        margin-top: 30px;
    }

    .mereknap{
        width: 120px;
        height: 30px;
    }

    .arraoverblik{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        margin: 50px;
    }
    
    .overskrifter{
        grid-column: 1 / span 4;
    }

    .overskriftopret{
        grid-column: 1 / span 2;
    }

    .opretindenigrid1{
        grid-row: 2 /span 2;
    }

    .udenomboksopret{
        grid-template-columns: auto auto;
    }

}